@model IEnumerable<DirectGharPe.Models.Product>

@{
    ViewBag.Title = "Product Listing";
}

<h2>Product Listing</h2>

<p>
    @Html.ActionLink("Add Product", "New", "Products", null, new { @class = "btn btn-primary" })
</p>

<table id="products" class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.Brand.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td class="text-center">
                    @if (product.IsActive)
                    {
                        <span class="my-active">Active</span>
                    }
                    else
                    {
                        <span class="my-inactive">Inactive</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Products", new { id = product.Id }, new { @class = "btn btn-link remove-padding" }) |
                    @Html.ActionLink("Toggle Status", "ToggleStatus", "Products", new { id = product.Id }, new { @class = "btn btn-link remove-padding", onclick = "return confirm('Are you sure you want to perform these action?')" }) |
                    <button type="submit" class="btn btn-link remove-padding js-delete" data-product-id="@product.Id">Delete</button>
                </td>
            </tr>

        }*@
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#products").DataTable({
                ajax: {
                    url: "/Api/Products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "description"
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "quantity"
                    },
                    {
                        data: "isActive",
                        render: function (data) {                            
                            if (data === true)
                                return "<span class='my-active'>Active</span>";
                            else {
                                return "<span class='my-inactive'>Inactive</span>";
                            }                            
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='btn btn-link remove-padding' href='Products/edit/" + data + "'>Edit</a>" +
                                " | <a class='btn btn-link remove-padding' href='Products/ToggleStatus/" + data + "'>Toggle Status</a>"+
                                " | <button class='btn btn-link remove-padding js-delete' data-product-id="+ data +">Delete</button>";
                        }
                    }
                ]
            });

            $("#products").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to perform these action?")) {
                    $.ajax({
                        url: "/Api/Products/" + button.attr("data-product-id"),
                        method: "DELETE",
                        success: function () {                            
                            table.row(button.parents("tr")).remove().draw();
                        }
                    })
                }

            });
        });
    </script>
}