@model DirectGharPe.ViewModels.CategoryViewModel

@{
    ViewBag.Title = Model.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-transform:uppercase;">@Model.CategoryName (@Model.CategoryId)</h2>

<div class="row text-center">
    <div class="col-md-3">
        @{
            if (Model.ProductSubCategories.Count() > 0)
            {
                <p class="list-group-item text-left" style="font-weight:500;">Sub Category</p>
                @Html.Partial("_ProductNavFilterPartial", Model.ProductSubCategories)
            }
        }

        @{
            if (Model.ProductBrands.Count() > 0)
            {
                <p class="list-group-item text-left" style="font-weight:500;">Brands</p>
                @Html.Partial("_ProductNavFilterPartial", Model.ProductBrands)
            }
        }
    </div>
    <div class="col-md-9">
        @{
            if (Model.FilterListings.Count() > 0)
            {
                @Html.Partial("_FilterListingsPartial", Model.FilterListings)
            }
            else
            {
                <p class="text-center">Not found, Try again in some time.</p>
            }
        }
    </div>
</div>