@model DirectGharPe.ViewModels.CategoryProductDetailViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption text-center" onclick="location.href=''">
                <div class="position-relative imageContainer" style="margin-top: 10px;">
                    @{
                        <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@Model.Product.Photo.PhotoUrl" style="height:320px;" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12 thumbnail" style="padding:10px;">
            @{
                foreach (var item in Model.Photos)
                {
                    <div class="col-md-3">
                        <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.PhotoUrl" style="height:65px;" />
                    </div>
                }
            }                        
        </div>
    </div>
    <div id="productDetails" class="col-md-8 well well-lg">
        <div style="display:block">
            <input type="text" id="productId" value="@Model.Product.Id" />
            <input type="text" id="productName" value="@Model.Product.Name" />
            <input type="text" id="productPrice" value="@Model.Product.Price" />
        </div>
        <div style="margin-bottom:35px">
            <div class="col-md-1" style="padding: 0;">
                <p style="font-size: 12px;padding-top: 5px;"><strong>Share On</strong></p>
            </div>
            <div class="col-md-11" style="padding:0 10px;">
                <ul class="prod-dtl-social-media" style="padding:0;">
                    <li>
                        <a onclick="shareinsocialmedia('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdirectgharpe.com%2F&amp;title=Direct GharPe | Home Page')" href="">
                            <img src="https://directgharpe.com//assets/user/img/social/facebook_color.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?status=https://directgharpe.com/" target="_blank">
                            <img src="https://directgharpe.com//assets/user/img/social/twitter_color.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sharer.php?u=https://directgharpe.com/" target="_blank">
                            <img src="https://directgharpe.com//assets/user/img/social/insta_color.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/?text=https://directgharpe.com/" target="_blank">
                            <img src="https://directgharpe.com//assets/user/img/social/Watsapp_color.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h3>@Model.Product.Name</h3>
        <p><strong>Category</strong> : @Model.Product.Category.Name</p>
        @{
            if (Model.Product.PriceBefore != null)
            {
                <ul class="list-inline" style="padding: 10px 0px;">
                    <li class="text-left"><i class="people lighter"></i><span class="final-price-dtl">₹ @string.Format("{0:N0}", Model.Product.Price)</span> <br /> <span>₹ <strike>@string.Format("{0:N0}", Model.Product.PriceBefore)</strike></span></li>
                    <li></li>
                    <li class="text-right"><i class="glyphicon lighter"></i><span class="discount-dtl">@string.Format("{0:N0}", Model.Product.Discount)% off</span> <br />You Save <span class="you-save-dtl">₹ @string.Format("{0:N0}", Model.Product.Save)</span></li>
                </ul>
            }
            else
            {
                <ul class="list-inline" style="padding: 10px 0px;">
                    <li class="text-left"><i class="people lighter"></i><span class="final-price-dtl">₹ @string.Format("{0:N0}", Model.Product.Price)</span> </li>
                    <li></li>
                    <li class="text-right"><i class="glyphicon lighter"></i></li>
                </ul>
            }
        }        
        <p><strong>Quantity</strong> : <input type="number" id="productQuantity" value="1" class="form-control qty-dtl" /></p>
        <div class="prod-dtl-btn">
            <button class="btn btn-warning js-add-to-cart">Add Cart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success">Buy Now</button>
        </div>
        <p><strong>Description</strong> :</p>
        <ul class="prod-desc-list">
            @foreach (var item in Model.Product.Description.Split(','))
            {
                <li>@item</li>
            }            
        </ul>
    </div>
</div>

@*Most Popular*@
<div class="row pd1">
    <div class="col-md-12">
        <h3 class="text-center">Similar Popular</h3>
    </div>
</div>
@Html.Partial("_ProductHomeListings", Model.SimilarProducts)

@section Scripts
{ 
    <script>
        $(document).on('click', '.js-add-to-cart', function () {
            $.ajax({
                url: "/Cart/AddToCart",
                method: "POST",                
                data: {
                    id: $("#productDetails").find("#productId").val(),
                    name: $("#productDetails").find("#productName").val(),
                    price: $("#productDetails").find("#productPrice").val(),
                    quantity: $("#productDetails").find("#productQuantity").val(),
                    action: "AddToCart"             
                }                
            })
            .done(function (data) {
                console.log("Success");
            })
            .fail(function () {
                console.log("fail");
            });                        
        });        
    </script>    
}