@model DirectGharPe.ViewModels.HomeViewModel
@using DirectGharPe.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dynamic banner -->
<div id="banner">
    <div class="slider">
        <img src="https://directgharpe.com//assets/user/img/banners/4d2f76ee73a0616ff8f3d7f044c735ed.jpg" width="100%" />

        <img src="https://directgharpe.com//assets/user/img/banners/73b2fd374df2bf568c70b847edbea9b9.jpg" alt="" width="100%" />
    </div>
</div>

@*Top Seller in Electronics*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Electronics</h3>
    </div>
</div>

<div class="row text-center">

    @{
        foreach (Product item in Model.topSellerElectronics)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption text-center" onclick="location.href=''">
                        @if (item.Photo == null)
                        {
                            <div class="position-relative imageContainer">
                                <img src="~/Content/img/no-image-available.jpg" style="height:235px;" />
                            </div>
                        }
                        else
                        {
                            <div class="position-relative imageContainer">
                                <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.Photo.PhotoThumbUrl" style="height:235px;" />
                            </div>
                        }
                        <h4 id="thumbnail-label"><a href="" target="_blank">@item.Name</a></h4>
                    </div>
                    <div class="card-footer text-center">
                        <ul class="list-inline">
                            <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ @string.Format("{0:N0}", item.Price)</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                            <li></li>
                            <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                        </ul>
                        <button class="btn btn-warning">Add Cart</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Top Seller in Cloating & Fashion*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Cloating & Fashion</h3>
    </div>
</div>

@{
    foreach (Product item in Model.topSellerCloating)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    @if (item.Photo == null)
                    {
                        <div class="position-relative imageContainer">
                            <img src="~/Content/img/no-image-available.jpg" style="height:235px;" />
                        </div>
                    }
                    else
                    {
                        <div class="position-relative imageContainer">
                            <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.Photo.PhotoThumbUrl" style="height:235px;" />
                        </div>
                    }
                    <h4 id="thumbnail-label"><a href="" target="_blank">@item.Name</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ @string.Format("{0:N0}", item.Price)</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-warning">Add Cart</button>
                </div>
            </div>
        </div>
    }
}

@*Top Seller in Jewellery*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Jewellery</h3>
    </div>
</div>

@{
    foreach (Product item in Model.topSellerJewellery)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    @if (item.Photo == null)
                    {
                        <div class="position-relative imageContainer">
                            <img src="~/Content/img/no-image-available.jpg" style="height:235px;" />
                        </div>
                    }
                    else
                    {
                        <div class="position-relative imageContainer">
                            <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.Photo.PhotoThumbUrl" style="height:235px;" />
                        </div>
                    }
                    <h4 id="thumbnail-label"><a href="" target="_blank">@item.Name</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ @string.Format("{0:N0}", item.Price)</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-warning">Add Cart</button>
                </div>
            </div>
        </div>
    }
}

@*Top Seller in Fashion*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Fashion</h3>
    </div>
</div>

@{
    foreach (Product item in Model.topSellerFashion)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    @if (item.Photo == null)
                    {
                        <div class="position-relative imageContainer">
                            <img src="~/Content/img/no-image-available.jpg" style="height:235px;" />
                        </div>
                    }
                    else
                    {
                        <div class="position-relative imageContainer">
                            <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.Photo.PhotoThumbUrl" style="height:235px;" />
                        </div>
                    }
                    <h4 id="thumbnail-label"><a href="" target="_blank">@item.Name</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ @string.Format("{0:N0}", item.Price)</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-warning">Add Cart</button>
                </div>
            </div>
        </div>
    }
}

@*Most Popular*@
<div class="row pd1">
    <div class="col-md-12">
        <h3 class="text-center">Most Popular</h3>
    </div>
</div>

@{
    foreach (Product item in Model.mostPopular)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    @if (item.Photo == null)
                    {
                        <div class="position-relative imageContainer">
                            <img src="~/Content/img/no-image-available.jpg" style="height:235px;" />
                        </div>
                    }
                    else
                    {
                        <div class="position-relative imageContainer">
                            <img src="@Request.Url.GetLeftPart(UriPartial.Authority)//@item.Photo.PhotoThumbUrl" style="height:235px;" />
                        </div>
                    }
                    <h4 id="thumbnail-label"><a href="" target="_blank">@item.Name</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ @string.Format("{0:N0}", item.Price)</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-warning">Add Cart</button>
                </div>
            </div>
        </div>
    }
}

@*Why should you choose us*@
<div class="row pd1">
    <div class="col-md-12">
        <h3 class="text-center">Why should you choose us?</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="why_you_choose_us">

            <div class="col-md-2 text-center" style="width: 18%;text-align: -webkit-center;">
                <div style="width: 70px;height: 70px;background: #F6F6F6 0% 0% no-repeat padding-box;border-radius: 10px;text-align: center;padding: 18px;">
                    <img src="https://directgharpe.com//assets/user/img/footer/FreeShipping.svg" alt="" height="42px">
                </div>
                <h5>Free Shipping</h5>
                <p>All purchases are eligible for free shipping via our delivery channel partners</p>
            </div>

            <div class="col-md-2 text-center" style="width: 18%;text-align: -webkit-center;">
                <div style="width: 70px;height: 70px;background: #F6F6F6 0% 0% no-repeat padding-box;border-radius: 10px;text-align: center;padding: 18px;">
                    <img src="https://directgharpe.com//assets/user/img/footer/EasyPayments.svg" alt="" height="40px">
                </div>
                <h5>Easy Payments</h5>
                <p>All payments are processed instantly over a secure payment protocol</p>
            </div>

            <div class="col-md-2 text-center" style="width: 21%;text-align: -webkit-center;">
                <div style="width: 70px;height: 70px;background: #F6F6F6 0% 0% no-repeat padding-box;border-radius: 10px;text-align: center;padding: 18px;">
                    <img src="https://directgharpe.com//assets/user/img/footer/MoneyBackGuarantee.svg" alt="" height="40px">
                </div>
                <h5>Money-Back Guarantee</h5>
                <p>If an item arrived damaged then you can send it back for a full refund</p>
            </div>

            <div class="col-md-2 text-center" style="width: 22%;text-align: -webkit-center;">
                <div style="width: 70px;height: 70px;background: #F6F6F6 0% 0% no-repeat padding-box;border-radius: 10px;text-align: center;padding: 18px;">
                    <img src="https://directgharpe.com//assets/user/img/footer/FinestQuality.svg" alt="" height="40px">
                </div>
                <h5>Finest Quality</h5>
                <p>Each of our products has been checked physically, uploaded on website only after quality assurance</p>
            </div>

            <div class="col-md-2 text-center" style="width: 21%;text-align: -webkit-center;">
                <div style="width: 70px;height: 70px;background: #F6F6F6 0% 0% no-repeat padding-box;border-radius: 10px;text-align: center;padding: 18px;">
                    <img src="https://directgharpe.com//assets/user/img/footer/ChoiceConcept.svg" alt="" height="42px">
                </div>
                <h5>Choice Concept</h5>
                <p>We show the products physically, customers can make a choice after checking quality, look &amp; feel</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $('.slider').bxSlider();

        })
    </script>
}