@model DirectGharPe.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";    
}

<!-- Dynamic banner -->
<div id="banner">
    <div class="slider">
        <img src="https://directgharpe.com//assets/user/img/banners/4d2f76ee73a0616ff8f3d7f044c735ed.jpg" width="100%" />

        <img src="https://directgharpe.com//assets/user/img/banners/73b2fd374df2bf568c70b847edbea9b9.jpg" alt="" width="100%" />
    </div>
</div>

@*Top Seller in Electronics*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Electronics</h3>
    </div>
</div>
@Html.Partial("_ProductHomeListings", Model.topSellerElectronics)


@*Top Seller in Cloating & Fashion*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Cloating & Fashion</h3>
    </div>
</div>
@Html.Partial("_ProductHomeListings", Model.topSellerCloating)

@*Top Seller in Jewellery*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Jewellery</h3>
    </div>
</div>
@Html.Partial("_ProductHomeListings", Model.topSellerJewellery)

@*Top Seller in Fashion*@
<div class="row pd1">
    <div class="col-md-12">
        <h3>Top Seller in Fashion</h3>
    </div>
</div>

@Html.Partial("_ProductHomeListings", Model.topSellerFashion)

@*Most Popular*@
<div class="row pd1">
    <div class="col-md-12">
        <h3 class="text-center">Most Popular</h3>
    </div>
</div>
@Html.Partial("_ProductHomeListings", Model.mostPopular)

@*Why should you choose us*@
@Html.Partial("_WhyYouChooseUs")

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider();
        })
    </script>
}