<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Direct GharPe</title>
    @Styles.Render("~/Content/User")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>   
    @Html.Partial("_TopBar")

    @Html.Partial("_MainHeaderBar")
    
    <div class="container body-content">
        @RenderBody()
    </div>
        
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)        
</body>
</html>
