@using Microsoft.AspNet.Identity
@using DirectGharPe.Models
<!--Main Header Bar-->
<div class="main-navbar navbar-inverse">
    <div class="container" style="padding-right: 30px;">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="logo">
                    <a href="@Request.Url.GetLeftPart(UriPartial.Authority)">
                        <img src="~/Content/img/DirectGharPeLogo.svg" alt="Direct GharPe Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                                
                <ul class="main-nav">
                    @{
                        if (Session["MainCategory"] != null)
                        {
                            foreach (Category category in ((IEnumerable<Category>)Session["MainCategory"]))
                            {
                                <li>
                                    @Html.ActionLink(category.Name, "Category", "Product", new { id = category.Id, name = category.Name }, null)
                                </li>
                            }
                        }
                    }                    
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-right">
                <ul class="nav navbar-nav navbar-right main-site">
                    <li>
                        <img src="https://directgharpe.com//assets/user/img/search.svg" alt="">
                    </li>
                    <li>
                        <img src="https://directgharpe.com//assets/user/img/cart.svg" alt="">
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="https://directgharpe.com//assets/user/img/user.svg" alt="">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Mine", "Gigs")">My Orders</a></li>
                                    <li><a href="@Url.Action("Attending", "Gigs")">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        <li><img src="https://directgharpe.com//assets/user/img/user.svg" alt=""></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
