<!--Main Header Bar-->
<div class="main-navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="logo">
                    <a href="@Request.Url.GetLeftPart(UriPartial.Authority)">
                        <img src="~/Content/img/DirectGharPeLogo.svg" alt="Direct GharPe Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <ul class="main-nav">
                    <li>
                        @Html.ActionLink("Electronics", "Category", "Product", new { id = "1", name = "Electronics" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Cloathing", "Category", "Product", new { id = "2", name = "Cloathing" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Jewellery", "Category", "Product", new { id = "3", name = "Jewellery" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Fashion", "Category", "Product", new { id = "4", name = "Fashion" }, null)
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-right">
                <ul class="main-site">
                    <li>
                        <img src="https://directgharpe.com//assets/user/img/search.svg" alt="">
                    </li>
                    <li>
                        <img src="https://directgharpe.com//assets/user/img/cart.svg" alt="">
                    </li>
                    <li>
                        <img src="https://directgharpe.com//assets/user/img/user.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
