@model DirectGharPe.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-12">
        <div class="my-register-form">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="avatar">
                    <img src="~/Content/img/avatar.png" alt="Avatar">
                </div>

                <h2 class="text-center">Register</h2>

                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control my-form-control", placeholder = "Your Name" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })    
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control my-form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control my-form-control", placeholder = "Mobile" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control my-form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control my-form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>

                <div class="bottom-action clearfix text-center">
                    <a href="#" class="float-right"></a>
                </div>
            }
        </div>
        @*<p class="text-center small">            
            @Html.ActionLink("OTP", "OTP", "Account")
        </p>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
